extends navbar-layout

block content
    h2 Add Statistics for a Day
    .text-warning Note that you should ensure all data from the day is obtained and can fill up all fields before continuing

    form(action='/admin/add' method='post')
        .text-success#addSuccess.text-hide.mt-2= suc
        table.table.mt-3
            tbody
                tr
                    td
                        h4.mt-1 Enter Daily Statistics here
                        .form-inline
                            .form-group
                                label(for="Date").bmd-label-floating= model.Date
                                input.form-control#Date(type='datetime-local', name='Date', value= defaultDate, required=true, onblur="updateCalc()")
                            .form-group.ml-lg-3
                                label(for="CCDay").bmd-label-floating= model.ConfirmedCases_Day
                                input.form-control#CCDay(type='number', name='ConfirmedCases_Day', required=true, onblur="updateCalc()")
                            .form-group.ml-lg-3
                                label(for="ICDay").bmd-label-floating= model.ImportedCase_Day
                                input.form-control#ICDay(type='number', name='ImportedCase_Day', required=true, onblur="updateCalc()")
                            .form-group.ml-lg-3
                                label(for="LUnlink").bmd-label-floating= model.LocalUnlinked
                                input.form-control#LUnlink(type='number', name='LocalUnlinked', required=true, onblur="updateCalc()")
                        .form-inline
                            .form-group
                                label(for="HosICU").bmd-label-floating= model.HospitalizedICU
                                input.form-control#HosICU(type='number', name='HospitalizedICU', required=true, onblur="updateCalc()")
                            .form-group.ml-lg-3
                                label(for="HosOA").bmd-label-floating= model.HospitalizedOtherArea
                                input.form-control#HosOA(type='number', name='HospitalizedOtherArea', required=true, onblur="updateCalc()")
                            .form-group.ml-lg-3
                                label(for="RecDay").bmd-label-floating= model.Recovered_Day
                                input.form-control#RecDay(type='number', name='Recovered_Day', required=true, onblur="updateCalc()")
                            .form-group.ml-lg-3
                                label(for="DeathsDay").bmd-label-floating= model.Deaths_Day
                                input.form-control#DeathsDay(type='number', name='Deaths_Day', required=true, onblur="updateCalc()")
                        .form-inline
                            .form-group
                                label(for="DQOI").bmd-label-floating Quarantined Orders Issued
                                input.form-control#DQOI(type='number', name='DailyQuarantineOrdersIssued', required=true, onblur="updateCalc()")
                            .form-group.ml-lg-3.w-50
                                label(for="DORSCON").bmd-label-floating= model.DORSCON
                                select.form-control#DORSCON.w-50(name='DORSCON')
                                    option(value="GREEN") Green
                                    option(value="YELLOW") Yellow
                                    option(value="ORANGE") Orange
                                    option(value="RED") Red
                        h5.mt-3 Active Quarantine Orders Issued
                        .form-inline
                            .form-group
                                label(for="QUOPending").bmd-label-floating Pending
                                input.form-control#QUOPending(type='number', name='QUO_Pending', required=true, onblur="updateCalc()")
                            .form-group.ml-lg-3
                                label(for="QUOTransHos").bmd-label-floating Transfer Hospital
                                input.form-control#QUOTransHos(type='number', name='QUO_TransferHospital', required=true, onblur="updateCalc()")
                            .form-group.ml-lg-3
                                label(for="QUONonGD").bmd-label-floating Non Gazetted Dorms
                                input.form-control#QUONonGD(type='number', name='QUO_NonGazettedDorm', required=true, onblur="updateCalc()")
                        .form-inline
                            .form-group
                                label(for="QUOGD").bmd-label-floating Gazetted Dorms
                                input.form-control#QUOGD(type='number', name='QUO_GazettedDorm', required=true, onblur="updateCalc()")
                            .form-group.ml-lg-3
                                label(for="QUOGovtQF").bmd-label-floating Govt Quarantine Facilities
                                input.form-control#QUOGovtQF(type='number', name='QUO_GovtQuarantinedFacilities', required=true, onblur="updateCalc()")
                            .form-group.ml-lg-3
                                label(for="QUOHQO").bmd-label-floating Home Quarantine Orders
                                input.form-control#QUOHQO(type='number', name='QUO_HomeQuarantinedOrder', required=true, onblur="updateCalc()")
                        .form-group.w-75
                            label(for="Remarks").bmd-label-floating= model.Remarks
                            input.form-control#Remarks.w-75(type='text', name='Remarks')
                            span.bmd-help Only fill this if you have any remarks for this day
                    td
                        h4.mt-5 Calculated Statistics
                        .form-inline
                            .form-group
                                label(for="Day").bmd-label-floating= model.Day
                                input.form-control#Day(type='number', name='Day', value= newDay, readonly=true)
                            .form-group.ml-lg-3
                                label(for="TLCDay").bmd-label-floating= model.TotalLocalCase_Day
                                input.form-control#TLCDay(type='number', name='TotalLocalCase_Day', readonly=true, value="0")
                            .form-group.ml-lg-3
                                label(for="LLink").bmd-label-floating= model.LocalLinked
                                input.form-control#LLink(type='number', name='LocalLinked', readonly=true, value="0")
                        .form-inline
                            .form-group
                                label(for="HosTotOA").bmd-label-floating= model.Hospital_OtherAreas
                                input.form-control#HosTotOA(type='number', name='Hospital_OtherAreas', readonly=true, value="0")
                            .form-group.ml-lg-3
                                label(for="HosTotal").bmd-label-floating= model.HospitalizedTotal
                                input.form-control#HosTotal(type='number', name='HospitalizedTotal', readonly=true, value="0")
                            .form-group.ml-lg-3
                                label(for="HosStable").bmd-label-floating= model.HospitalizedStable
                                input.form-control#HosStable(type='number', name='HospitalizedStable', readonly=true, value="0")
                        .form-inline
                            .form-group
                                label(for="CumC").bmd-label-floating= model.CumulativeConfirmed
                                input.form-control#CumC(type='number', name='CumulativeConfirmed', readonly=true, value="0")
                            .form-group.ml-lg-3
                                label(for="CumI").bmd-label-floating= model.CumulativeImported
                                input.form-control#CumI(type='number', name='CumulativeImported', readonly=true, value="0")
                            .form-group.ml-lg-3
                                label(for="CumL").bmd-label-floating= model.CumulativeLocal
                                input.form-control#CumL(type='number', name='CumulativeLocal', readonly=true, value="0")
                        .form-inline
                            .form-group
                                label(for="CumR").bmd-label-floating= model.CumulativeRecovered
                                input.form-control#CumR(type='number', name='CumulativeRecovered', readonly=true, value="0")
                            .form-group.ml-lg-3
                                label(for="CumDe").bmd-label-floating= model.CumulativeDeaths
                                input.form-control#CumDe(type='number', name='CumulativeDeaths', readonly=true, value="0")
                            .form-group.ml-lg-3
                                label(for="CumDi").bmd-label-floating= model.CumulativeDischarged
                                input.form-control#CumDi(type='number', name='CumulativeDischarged', readonly=true, value="0")
                        .form-inline
                            .form-group
                                label(for="TCC").bmd-label-floating= model.TotalCloseContacts
                                input.form-control#TCC(type='number', name='TotalCloseContacts', readonly=true, value="0")
                            .form-group.ml-lg-3
                                label(for="Quarantined").bmd-label-floating= model.Quarantined
                                input.form-control#Quarantined(type='number', name='Quarantined', readonly=true, value="0")
                            .form-group.ml-lg-3
                                label(for="ComQuarantined").bmd-label-floating= model.CompletedQuarantine
                                input.form-control#ComQuarantined(type='number', name='CompletedQuarantine', readonly=true, value="0")
        .form-group
            button.btn.btn-primary.btn-raised(type="submit") Add Statistics


    h4.mt-5 Previous Day Statistics
    table.table
        thead
            tr
                th(scope='col') Record
                th(scope='col') Value
        tbody
            each val in prevData
                tr
                    th(scope='row')= val.name
                    td= val.val
    script.
        const prevData = !{prevDataRaw};
        function updateCalc() {
            // Calculated Statistics
            let tlcDay = $('#TLCDay'), ccDay = $('#CCDay'), icDay = $('#ICDay'), cumL = $('#CumL'), cumC = $('#CumC');
            let cumDi = $('#CumDi'), cumDe = $('#CumDe'), hosTotal = $('#HosTotal'), hosOA = $('#HosOA'), recDay = $('#RecDay');
            let deathsDay = $('#DeathsDay'), tcc = $('#TCC'), quarantined = $('#Quarantined');

            tlcDay.val(ccDay.val() - icDay.val());
            cumL.val(prevData.CumulativeLocal + +tlcDay.val());
            cumDi.val(prevData.CumulativeDischarged + +recDay.val() + +deathsDay.val());
            cumDe.val(prevData.CumulativeDeaths + +deathsDay.val());
            cumC.val(prevData.CumulativeConfirmed + +ccDay.val());
            hosTotal.val(cumC.val() - cumDi.val() - cumDe.val() - hosOA.val());
            tcc.val(prevData.TotalCloseContacts + +$('#DQOI').val());
            quarantined.val(+$('#QUOPending').val() + +$('#QUOTransHos').val() + +$('#QUONonGD').val() + +$('#QUOGD').val() + +$('#QUOGovtQF').val() + +$('#QUOHQO').val());

            $('#LLink').val(cumL.val() - $('#LUnlink').val());
            $('#HosTotOA').val(+hosTotal.val() + +hosOA.val());
            $('#HosStable').val(hosTotal.val() - $('#HosICU').val());
            $('#CumI').val(prevData.CumulativeImported + +icDay.val());
            $('#CumR').val(prevData.CumulativeRecovered + +recDay.val());
            $('#ComQuarantined').val(tcc.val() - quarantined.val());
        }
        $(document).ready(function () { let e = $('#addSuccess'); if (e.html().length !== 0) { if (e.html().startsWith('Failed')) e.addClass('text-danger').removeClass('text-success'); e.removeClass('text-hide'); } });