extends navbar-layout

block content
    h2 Editing Day #{day}
    .text-warning Note that you should ensure all data from the day is obtained and can fill up all fields before continuing

    form(action=`/admin/editDay/${day}` method='post')
        table.table.mt-3
            tbody
                tr
                    td
                        h4.mt-1 Enter Daily Statistics here
                        .form-inline
                            .form-group
                                label(for="Date").bmd-label-floating= model.Date
                                input.form-control#Date(type='datetime-local', name='Date', value= data.jsdate, required=true, onblur="updateCalc()")
                            .form-group.ml-lg-3
                                label(for="CCDay").bmd-label-floating Confirmed (Day)
                                input.form-control#CCDay(type='number', name='ConfirmedCases_Day', value= data.ConfirmedCases_Day, required=true, onblur="updateCalc()")
                            .form-group.ml-lg-3
                                label(for="ICDay").bmd-label-floating= model.ImportedCase_Day
                                input.form-control#ICDay(type='number', name='ImportedCase_Day', value= data.ImportedCase_Day, required=true, onblur="updateCalc()")
                            .form-group.ml-lg-3
                                label(for="LUnlink").bmd-label-floating= model.LocalUnlinked
                                input.form-control#LUnlink(type='number', name='LocalUnlinked', value= data.LocalUnlinked, required=true, onblur="updateCalc()")
                        .form-inline
                            .form-group
                                label(for="HosICU").bmd-label-floating= model.HospitalizedICU
                                input.form-control#HosICU(type='number', name='HospitalizedICU', value= data.HospitalizedICU, required=true, onblur="updateCalc()")
                            .form-group.ml-lg-3
                                label(for="HosOA").bmd-label-floating= model.HospitalizedOtherArea
                                input.form-control#HosOA(type='number', name='HospitalizedOtherArea', value= data.HospitalizedOtherArea, required=true, onblur="updateCalc()")
                            .form-group.ml-lg-3
                                label(for="RecDay").bmd-label-floating= model.Recovered_Day
                                input.form-control#RecDay(type='number', name='Recovered_Day', value= data.Recovered_Day, required=true, onblur="updateCalc()")
                            .form-group.ml-lg-3
                                label(for="DeathsDay").bmd-label-floating= model.Deaths_Day
                                input.form-control#DeathsDay(type='number', name='Deaths_Day', value= data.Deaths_Day, required=true, onblur="updateCalc()")
                        .form-inline
                            .form-group
                                label(for="DQOI").bmd-label-floating QU Orders Issued
                                input.form-control#DQOI(type='number', name='DailyQuarantineOrdersIssued', value= data.DailyQuarantineOrdersIssued, required=true, onblur="updateCalc()")
                            .form-group.ml-lg-3.w-50
                                label(for="DORSCON").bmd-label-floating= model.DORSCON
                                select.form-control#DORSCON.w-50(name='DORSCON', onchange="updateCalc()")
                                    option(value="GREEN") Green
                                    option(value="YELLOW") Yellow
                                    option(value="ORANGE") Orange
                                    option(value="RED") Red
                        h5.mt-3 Active Quarantine Orders Issued
                        .form-inline
                            .form-group
                                label(for="QUOGD").bmd-label-floating Pend. QUO Extension
                                input.form-control#QUOGD(type='number', name='QUO_GazettedDorm', value= data.QUO_GazettedDorm, required=true, onblur="updateCalc()")
                            .form-group.ml-lg-3
                                label(for="QUOPending").bmd-label-floating Pending
                                input.form-control#QUOPending(type='number', name='QUO_Pending', value= data.QUO_Pending, required=true, onblur="updateCalc()")
                            .form-group.ml-lg-3
                                label(for="QUOTransHos").bmd-label-floating Transfer Hospital
                                input.form-control#QUOTransHos(type='number', name='QUO_TransferHospital', value= data.QUO_TransferHospital, required=true, onblur="updateCalc()")

                        .form-inline
                            .form-group
                                label(for="QUONonGD").bmd-label-floating Non Gazetted Dorms
                                input.form-control#QUONonGD(type='number', name='QUO_NonGazettedDorm', value= data.QUO_NonGazettedDorm, required=true, onblur="updateCalc()")
                            .form-group.ml-lg-3
                                label(for="QUOGovtQF").bmd-label-floating GQF
                                input.form-control#QUOGovtQF(type='number', name='QUO_GovtQuarantinedFacilities', value= data.QUO_GovtQuarantinedFacilities, required=true, onblur="updateCalc()")
                            .form-group.ml-lg-3
                                label(for="QUOHQO").bmd-label-floating HQO
                                input.form-control#QUOHQO(type='number', name='QUO_HomeQuarantinedOrder', value= data.QUO_HomeQuarantinedOrder, required=true, onblur="updateCalc()")
                        .form-group.w-75
                            label(for="Remarks").bmd-label-floating= model.Remarks
                            input.form-control#Remarks.w-75(type='text', name='Remarks', onblur="updateCalc()", value= data.Remarks)
                            span.bmd-help Only fill this if you have any remarks for this day
                        .form-group.w-75
                            label(for="SitRepLink").bmd-label-floating= model.SitRepLink
                            input.form-control#SitRepLink.w-75(type='url', name='SitRepLink', onblur="updateCalc()", value= data.SitRepLink)
                            span.bmd-help Link to MOH Situation Report if available
                    td
                        h4.mt-5 Calculated Statistics
                        .form-inline
                            .form-group
                                label(for="Day").bmd-label-floating= model.Day
                                input.form-control#Day(type='number', name='Day', value= data.Day, readonly=true)
                            .form-group.ml-xl-3
                                label(for="TLCDay").bmd-label-floating= model.TotalLocalCase_Day
                                input.form-control#TLCDay(type='number', name='TotalLocalCase_Day', readonly=true, value="0")
                            .form-group.ml-xl-3
                                label(for="LLink").bmd-label-floating= model.LocalLinked
                                input.form-control#LLink(type='number', name='LocalLinked', readonly=true, value="0")
                        .form-inline
                            .form-group
                                label(for="HosTotOA").bmd-label-floating Hospitalized + Community
                                input.form-control#HosTotOA(type='number', name='Hospital_OtherAreas', readonly=true, value="0")
                            .form-group.ml-xl-3
                                label(for="HosTotal").bmd-label-floating= model.HospitalizedTotal
                                input.form-control#HosTotal(type='number', name='HospitalizedTotal', readonly=true, value="0")
                            .form-group.ml-xl-3
                                label(for="HosStable").bmd-label-floating= model.HospitalizedStable
                                input.form-control#HosStable(type='number', name='HospitalizedStable', readonly=true, value="0")
                        .form-inline
                            .form-group
                                label(for="CumC").bmd-label-floating= model.CumulativeConfirmed
                                input.form-control#CumC(type='number', name='CumulativeConfirmed', readonly=true, value="0")
                            .form-group.ml-xl-3
                                label(for="CumI").bmd-label-floating= model.CumulativeImported
                                input.form-control#CumI(type='number', name='CumulativeImported', readonly=true, value="0")
                            .form-group.ml-xl-3
                                label(for="CumL").bmd-label-floating= model.CumulativeLocal
                                input.form-control#CumL(type='number', name='CumulativeLocal', readonly=true, value="0")
                        .form-inline
                            .form-group
                                label(for="CumR").bmd-label-floating= model.CumulativeRecovered
                                input.form-control#CumR(type='number', name='CumulativeRecovered', readonly=true, value="0")
                            .form-group.ml-xl-3
                                label(for="CumDe").bmd-label-floating= model.CumulativeDeaths
                                input.form-control#CumDe(type='number', name='CumulativeDeaths', readonly=true, value="0")
                            .form-group.ml-xl-3
                                label(for="CumDi").bmd-label-floating= model.CumulativeDischarged
                                input.form-control#CumDi(type='number', name='CumulativeDischarged', readonly=true, value="0")
                        .form-inline
                            .form-group
                                label(for="TCC").bmd-label-floating= model.TotalCloseContacts
                                input.form-control#TCC(type='number', name='TotalCloseContacts', readonly=true, value="0")
                            .form-group.ml-xl-3
                                label(for="Quarantined").bmd-label-floating= model.Quarantined
                                input.form-control#Quarantined(type='number', name='Quarantined', readonly=true, value="0")
                            .form-group.ml-xl-3
                                label(for="ComQuarantined").bmd-label-floating= model.CompletedQuarantine
                                input.form-control#ComQuarantined(type='number', name='CompletedQuarantine', readonly=true, value="0")

        input#changesVal(type='hidden', name='modified')
        input#recalcD(type='hidden', name='torecalculate', value='0')
        input#recalcDeltas(type='checkbox', onclick='toggleCheckbox()', name='boi')
        label(for="recalcDeltas").ml-1 Recalculate Data after update
        .form-group
            button.btn.btn-primary.btn-raised(type="submit") Update Statistics


    h4.mt-5 Updated fields
    p.text-info#changes

    script.
        const prevData = !{prevDataRaw};
        const oldData = !{dataRaw};
        function updateCalc() {
            // Calculated Statistics
            let tlcDay = $('#TLCDay'), ccDay = $('#CCDay'), icDay = $('#ICDay'), cumL = $('#CumL'), cumC = $('#CumC');
            let cumDi = $('#CumDi'), cumDe = $('#CumDe'), hosTotal = $('#HosTotal'), hosOA = $('#HosOA'), recDay = $('#RecDay');
            let deathsDay = $('#DeathsDay'), tcc = $('#TCC'), quarantined = $('#Quarantined');

            tlcDay.val(ccDay.val() - icDay.val());
            cumL.val(prevData.CumulativeLocal + +tlcDay.val());
            cumDi.val(prevData.CumulativeDischarged + +recDay.val() + +deathsDay.val());
            cumDe.val(prevData.CumulativeDeaths + +deathsDay.val());
            cumC.val(prevData.CumulativeConfirmed + +ccDay.val());
            hosTotal.val(cumC.val() - cumDi.val() - cumDe.val() - hosOA.val());
            tcc.val(prevData.TotalCloseContacts + +$('#DQOI').val());
            quarantined.val(+$('#QUOPending').val() + +$('#QUOTransHos').val() + +$('#QUONonGD').val() + +$('#QUOGD').val() + +$('#QUOGovtQF').val() + +$('#QUOHQO').val());

            $('#LLink').val(cumL.val() - $('#LUnlink').val());
            $('#HosTotOA').val(+hosTotal.val() + +hosOA.val());
            $('#HosStable').val(hosTotal.val() - $('#HosICU').val());
            $('#CumI').val(prevData.CumulativeImported + +icDay.val());
            $('#CumR').val(prevData.CumulativeRecovered + +recDay.val());
            $('#ComQuarantined').val(tcc.val() - quarantined.val());
            checkAndComp();
        }
        function checkAndComp() {
            let changes = {};
            $('input').each(function (d,i) {
                let name = $(i).attr('name');
                let newValue = $(i).val();
                let oldValue = oldData[name];
                if (Number.isInteger(oldValue)) newValue = parseInt(newValue);
                if (name === "Date") oldValue = oldData.jsdate;
                if (name === "modified" || name === "torecalculate" || name === "boi") return;
                //console.log(`${name}: ${newValue} (${oldValue})`);
                if (newValue !== oldValue) changes[name] = newValue;
            });
            let dors = $('#DORSCON');
            if (dors.val() !== oldData.DORSCON) changes.DORSCON = dors.val();
            $('#changes').text(JSON.stringify(changes, null, ' '));
            $('#changesVal').val(JSON.stringify(changes));
        }
        function toggleCheckbox(){$('#recalcD').val($('#recalcDeltas').is(':checked') ? "1" : "0");}
        function updateSelect(){$(`#DORSCON`).val(oldData.DORSCON);}
        $(document).ready(function(){updateSelect(); updateCalc();})