extends navbar-layout

block content
    .larger-text
        h2 General Information
        .font-weight-bold ♫~Wuhan is the virus that I just want to minus~♪

        .mt-2
            table.dorscon-table
                tr
                    td DORSCON STATUS
                    td.dorscon_cell#dorscon= data.DORSCON
        .mt-2
            span
                b= 'Confirmed Cases: '
                span= data.CumulativeConfirmed
                span.text-red  (▲#{delta.CumulativeConfirmed})
            br
            span #{data.CumulativeImported} imported
            span.text-red  (▲#{delta.CumulativeImported})
            span , #{data.CumulativeLocal} local cases
            span.text-red  (▲#{delta.CumulativeLocal})
            br
            span
                b= 'Discharged Cases: '
                span= data.CumulativeDischarged
                span.text-green  (▲#{delta.CumulativeDischarged})
            br
            span
                b= 'Death Cases: '
                span= data.CumulativeDeaths
                span.text-red  (▲#{delta.CumulativeDeaths})
            br
            span
                b= 'Recovered Cases: '
                span= data.CumulativeRecovered
                span.text-green  (▲#{delta.CumulativeRecovered})
            br
            span
                b= 'ICU Cases: '
                span= data.HospitalizedICU
                span(class=`${iC}`)  (#{iI}#{delta.HospitalizedICU})
            br
            span
                b= 'Warded Cases: '
                span= data.HospitalizedStable
                span(class=`${wC}`)  (#{wI}#{delta.HospitalizedStable})
            br
            span
                b= 'Community Facilities Cases: '
                span= data.HospitalizedOtherArea
                span(class=`${cC}`)  (#{cI}#{delta.HospitalizedOtherArea})
            br
            span
                b= 'Active Cases: '
                span= data.Hospital_OtherAreas
                span(class=`${cTC}`)  (#{cTI}#{delta.Hospital_OtherAreas})

        .mt-3.font-italic.font-weight-bold Data Updated as of #{date}

    .mt-5
        h2 MOH Travel Advisory
        p.text-warning Updated 15 June 2020
        p.
            All Singaporeans and residents of Singapore are still advised to defer all travel abroad. However, essential business and official travel will be permitted under Green/Fast Lane
            arrangements[1]. Please click #[a(href="https://www.moh.gov.sg/news-highlights/details/gradual-re-opening-of-travel-and-changes-to-border-measures") here] for more information.
        p.
            As Singapore’s measures will evolve as the global situation changes, we encourage everyone to check the MOH website
            (#[a(href="https://www.moh.gov.sg/covid-19") https://www.moh.gov.sg/covid-19]) for the latest updates.
        p.small [1] As of 15 June 2020, this comprises the Singapore-China Fast Lane.

    .mt-5
        h2 Health Advisory
        p.text-warning As of 1 August 2020
        p.
            We urge Singaporeans to remain calm and vigilant. Singaporeans can continue to play their part by being socially responsible, practising good personal hygiene habits and
            complying with safe distancing measures. (click #[a(href="https://www.moh.gov.sg/covid-19/phase-2-sector-related-advisories") here] to view other MOH Health Advisories).
        p Members of the public should adopt the following precautions at all times:
            ul
                li Avoid close contact with people who are unwell or showing symptoms of illness;
                li Observe good personal hygiene;
                li.
                    Practise frequent hand washing with soap (e.g. before handling food or eating, after going to toilet, or when hands are dirtied by respiratory secretions
                    after coughing or sneezing);
                li.
                    Wear a mask if you need to leave your house (click #[a(href="https://www.moh.gov.sg/news-highlights/details/guidance-for-use-of-masks-and-face-shields") here] for
                    guidance on use of masks and face shields);
                li Cover your mouth with a tissue paper when coughing or sneezing, and dispose the soiled tissue paper in the rubbish bin immediately; and
                li Seek medical attention promptly if you are feeling unwell.

    .mt-5
        h2 Measures which apply to Inbound Travellers
        p.text-warning Updated 20 July 2020
        h5 Changes to Border Measures (updated 20 Jul 2020)
        p.
            As the global situation improves with countries/ regions at various stages of putting in place effective systems to control the COVID-19 infection, Singapore will
            implement progressive changes as we re-open to international travel. We will therefore update our border measures, taking into account our understanding of the virus,
            as well as the developments in these countries/ regions.
        p.
            Singapore’s measures for inbound travellers in relation to COVID-19 are summarised in
            #[a(href="https://www.moh.gov.sg/docs/librariesprovider5/2019-ncov/border-control-measures-(20-jul-2020).pdf?sfvrsn=db30df6b_0") here]. For updates on Border Control
            Measures in response to the COVID-19 (Coronavirus Disease 2019), please click #[a(href="https://www.ica.gov.sg/covid-19") here].
        h5 14-day Stay-Home Notice (SHN) for all Travellers (updated 20 July 2020)
        p.
            Since 21 March 2020, all incoming travellers, including Singapore Citizens, Permanent Residents and Long Term Pass holders[1] have been required to serve a
            14-day Stay-Home-Notice (SHN).
        p All travellers entering Singapore after 19 July 2020, 2359 hours, and who had remained in Australia (except Victoria state), Brunei Darussalam, Macao, Mainland China,
            |  New Zealand, Republic of Korea, Taiwan and Vietnam in the last consecutive 14 days prior to their entry, will no longer have to serve their SHN at dedicated SHN facilities:
            ol(type="a")
                li Singapore Citizens and Permanent Residents may serve their 14-day SHN at their place of residence.
                li.
                    Long Term Pass holders may serve their 14-day SHN at a place of residence that they or their family members own or are sole tenants of; or in suitable
                    accommodation such as a hotel, at their own cost.
        p.
            All other travellers entering Singapore will continue to serve their 14-day SHN at dedicated SHN facilities, for now.  Please click
            #[a(href="https://www.moh.gov.sg/news-highlights/details/gradual-re-opening-of-travel-and-changes-to-border-measures") here] for more information.
        p.small.
            [1] Long Term Pass (LTP) holders refer to Work Pass holders, Student’s Pass holders, Long-Term Visit Pass (LTVP) holders and Dependant’s Pass holders,
            as well as those who have been granted In-Principle Approval (IPA) for a LTP.
        h5 Testing Regime for Incoming Travellers (updated 15 Jun 2020)
        p.
            Since 21 March 2020, all incoming travellers, including Singapore Citizens, Permanent Residents and Long Term Pass holders[1], have been required to serve a
            14-day Stay-Home Notice (SHN). Besides the SHN, we will now put in place a testing regime for all incoming travellers before the end of their SHN. The testing regime
            will apply to all travellers entering Singapore from 17 June 2020, 2359 hours. Please click
            #[a(href="https://www.moh.gov.sg/news-highlights/details/gradual-re-opening-of-travel-and-changes-to-border-measures") here] for more information.
        p.small.
            [1] Long Term Pass (LTP) holders refer to Work Pass holders, Student’s Pass holders, Long-Term Visit Pass (LTVP) holders and Dependant’s Pass holders, as well as
            those who have been granted In-Principle Approval (IPA) for a LTP.
        h5 Travellers to Bear Costs of COVID-19 Tests and Stay at Dedicated SHN Facilities (updated 15 Jun 2020)
        p.
            All inbound and outbound travellers who enter Singapore from 17 June 2020, 2359 hours, and leave Singapore from 17 June 2020, 2359 hours, respectively,
            will be required to pay for their COVID-19 tests, where applicable. In addition, incoming travellers who are not Singapore Citizens or Permanent Residents,
            who enter Singapore from 17 June 2020, 2359 hours, will be required to pay for their stay at dedicated SHN facilities, where applicable.
        h5 SafeTravel Pass (updated 03 Jun 2020)
        p.
            In conjunction with Singapore’s move towards Phase One (“Safe Re-opening”) of the post-Circuit Breaker period, Singapore has explored the piloting of fast
            lane arrangements with a few other countries and regions, with the necessary safeguards in place to ensure public health considerations are addressed.
            Please refer to this #[a(href="https://www.mfa.gov.sg/Newsroom/Press-Statements-Transcripts-and-Photos/2020/06/20200603-SG-CHINA-Fast-Lane-Essential-Travel") press release]
            for more information.
        p.
            Travellers from countries/regions under the Green/Fast Lane arrangements must possess a valid SafeTravel Pass in order to travel to Singapore. For more information and
            updates on SafeTravel Pass, please click #[a(href="https://safetravel.ica.gov.sg/") here].
        h5 Entry Approval Required For All Long-Term Pass Holders (updated 28 Mar 2020)
        p.
            From 29 March 2020, 2359h, all foreigners holding ICA-issued long-term passes (i.e. Long-Term Visit Pass (LTVP) or Student's Pass (STP), or In-Principle Approval (IPA) letters
            for LTVP/STP, who plan to enter Singapore from any country must obtain permission from the relevant agency before they commence their journey.
        p.
            Please refer to this #[a(href="https://www.ica.gov.sg/news-and-publications/media-releases/media-release/entry-approval-required-for-all-long-term-pass-holders") press release]
            for more information.  For more updates on Border Control Measures, please click #[a(href="https://www.ica.gov.sg/covid-19") here].
        h5 Health Declaration Via The SG Arrival Card E-Service (updated 23 Mar 2020)
        p.
            From 27 March 2020, 0900h, all travellers arriving in Singapore, including residents [Singapore Citizens (SC), Permanent Residents (PR)], and Long-Term Pass (LTP) holders
            (Student’s Pass, Dependant’s Pass, Work Pass and Long-Term Visit Pass Holders), must submit a health declaration before proceeding with immigration clearance[1]. They will
            have to do so via the SG Arrival Card (SGAC) e-Service[2]. The health declaration will be made available before 27 March 2020 as part of the SGAC e-Service, so that travellers
            who are due to arrive in Singapore after 27 March, 0900 hours, can complete it in advance of their arrival.
        p.
            Please refer to this
            #[a(href="https://www.ica.gov.sg/news-and-publications/media-releases/media-release/all-travellers-arriving-in-singapore-from-27-march-2020-0900-hours-must-submit-health-declaration-via-the-sg-arrival-card-e-service") press release]
            for more information.
        p.small.
            [1] The Ministry of Health (MOH)’s press release dated 22 March 2020 announced that all short-term visitors (from anywhere in the world) will not be allowed to enter or transit
            through Singapore from 23 March 2020, 2359 hours. The Ministry of Manpower (MOM) will only allow the entry/return of Work Pass holders, including their dependents, for those
            providing essential services, such as in healthcare and transport.#[br]
            [2] The beta version of the SGAC e-Service had been rolled out on a trial basis since August 2019 to allow short-term visitors to submit information about their visit to Singapore
            electronically in advance of their arrival, which replaces the requirement to fill in the paper-based disembarkation/embarkation cards. As of February 2020, ICA had cleared over
            560,000 electronic SGAC records submitted by short-term visitors.

    .mt-5
        h2 What is DORSCON
        p.
            The Disease Outbreak Response System (DORSCON) Condition is Singapore's colour-coded framework that shows the current disease situation. The framework
            provides us with general guidelines on what needs to be done to prevent and reduce the impact of infections.
        p Read more on the
            a(href="https://www.gov.sg/article/what-do-the-different-dorscon-levels-mean")  MOH Website
        p
            img(src='images/dorsconlevel.jpg').w-100

    script.
        $(document).ready(() => {
            let dors = $('#dorscon');
            dors.addClass('dorscon-' + dors.text().toLowerCase());
        })