extends navbar-layout

block content
    h2 Recalculate Deltas for some days
    p.text-info This allows you to select to recalculate deltas from a specific day onwards


    .mt-3.text-primary Latest Day in database: #{latestDay}

    form#test.mt-5(action=`/admin/updateDelta/1` method='post')
        input(type='hidden', name='end', value=`${latestDay}`)
        .form-group
            label(for='range') Slide to select day to start recalculating from
            input#range.form-control-range(type='range', min='1', max=`${latestDay}`, value='1', oninput='uv(this)')
        p.text-muted= 'Starting Calculation from Day: '
            span#daySel 1
        .form-group.text-center
            button.btn.btn-primary.btn-raised.btn-success(type="submit") Recalculate Deltas
    script function uv(e) { let a = $(e).val(); $('#daySel').text(a); $('#test').attr('action', `/admin/updateDelta/${a}`); }