extends navbar-layout

block content
    if editMode
        h2 Edit specific day
        p.text-info Slide slider to select specific day to edit from. Check the day number from Daily Statistics to obtain the day for the date
    else
        h2 Recalculate Deltas from specifc day
        p.text-info This allows you to select to recalculate deltas from a specific day onwards
        p.text-warning Note that if you wish to recalculate all days, just select Day 1. This may take a while though

    .mt-3.text-primary Latest Day in database: #{latestDay}

    unless editMode
        - var url = '/admin/updateDelta'
    else
        - var url = '/admin/editDay'
        p.text-success= updated

    form#test.mt-5(action=`${url}/1` method='post')
        input(type='hidden', name='end', value=`${latestDay}`)
        .form-group
            if editMode
                label(for='range') Slide to select day to edit
            else
                label(for='range') Slide to select day to start recalculating from
            input#range.form-control-range(type='range', min='1', max=`${latestDay}`, value='1', oninput='uv(this)')
        if editMode
            p.text-muted= 'Editing Day: '
                span#daySel 1
            .form-group.text-center
                button.btn.btn-primary.btn-raised.btn-success(type="submit") Edit Day
        else
            p.text-muted= 'Starting Calculation from Day: '
                span#daySel 1
            .form-group.text-center
                button.btn.btn-primary.btn-raised.btn-success(type="submit") Recalculate Deltas
    script function uv(e) { let a = $(e).val(); $('#daySel').text(a); $('#test').attr('action', `#{url}/${a}`); }